* {
    padding: 0;
    margin: auto;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 169px 260px 260px 260px 260px 168px;
    gap: 20px;
    place-items: center;
    @media screen and (max-width: 1024px) {
        width: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        place-items: center;
    }
}