.skills {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 1480px;
    .skills-h1 {
        margin-top: 55px;
        font-family: 'Titillium Web', sans-serif;
        font-size: 40px;
        font-weight: 600;
        text-decoration: none;
        color: #3c4761;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .line3 {
        background-color: #c8d9e5;
        max-width: 80px;
        width: 100%;
        height: 4px;
        margin-bottom: 20px;
    }
    .skills-p {
        font-family: 'Titillium Web', sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: #3c4761;
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
        max-width: 440px;
        width: 100%;
        margin-bottom: 80px;
    }
    .skills-wrapper {
        .grid {
            .web {
                grid-column: 2/3;
                display: flex;
                flex-direction: column;
                .web-bar {
                    background: radial-gradient(closest-side, #ffffff 79%, transparent 80% 100%), conic-gradient(#30bae7 90%, #dfe8ed 0);
                    &::before {
                        content: "90%";
                        position: absolute;
                        font-size: 40px;
                        font-family: 'Titillium Web', sans-serif;
                        text-align: center;
                        color: #3c4761;
                        display: flex;
                    }
                }
            }
            .html {
                grid-column: 3/4;
                display: flex;
                flex-direction: column;
                .html-bar {
                    background: radial-gradient(closest-side, #ffffff 79%, transparent 80% 100%), conic-gradient(#d74680 75%, #dfe8ed 0);
                    &::before {
                        content: "75%";
                        position: absolute;
                        font-size: 40px;
                        font-family: 'Titillium Web', sans-serif;
                        text-align: center;
                        color: #3c4761;
                        display: flex;
                    }
                }
            }
            .graphic {
                grid-column: 4/5;
                display: flex;
                flex-direction: column;
                .graphic-bar {
                    background: radial-gradient(closest-side, #ffffff 79%, transparent 80% 100%), conic-gradient(#15c7a8 70%, #dfe8ed 0);
                    &::before {
                        content: "70%";
                        position: absolute;
                        font-size: 40px;
                        font-family: 'Titillium Web', sans-serif;
                        text-align: center;
                        color: #3c4761;
                        display: flex;
                    }
                }
            }
            .ui {
                grid-column: 5/6;
                display: flex;
                flex-direction: column;
                .ui-bar {
                    background: radial-gradient(closest-side, #ffffff 79%, transparent 80% 100%), conic-gradient(#eb7d4b 85%, #dfe8ed 0);
                    &::before {
                        content: "85%";
                        position: absolute;
                        font-size: 40px;
                        font-family: 'Titillium Web', sans-serif;
                        text-align: center;
                        color: #3c4761;
                        display: flex;
                    }
                }
            }
            progress {
                visibility: hidden;
                width: 0;
                height: 0;
            }
            .progress-bar {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 160px;
                border-radius: 50%;
            }
            .skills-h2 {
                margin-top: 20px;
                margin-bottom: 120px;
                font-family: 'Titillium Web', sans-serif;
                font-size: 23px;
                font-weight: 700;
                text-align: center;
                color: #3c4761;
                display: flex;
                text-transform: uppercase;
            }
        }
    }
}